.grid-item1 {
    padding: 20px;
    text-align: center;
    background-color: aquamarine;
    height: 100px;
}
.grid-item2 {
    padding: 20px;
    text-align: center;
    background-color: red;
    height: 100px;
}
.grid-item3 {
    padding: 20px;
    text-align: center;
    background-color: blueviolet;
    height: 100px;
}